<div class="container">
    <div class="detail">
        <h1>
            <%= book.volumeInfo.title %>
        </h1>
        <h2>By <%= book.volumeInfo.authors %>
        </h2>
        <img src="<%= book.volumeInfo.imageLinks?.thumbnail %>" alt="<%= book.volumeInfo.title %>">
        <br>
        <%= book.volumeInfo.description %>
    </div>
</div>

<h2>Coffee Pairings</h2>
<div>
<h3><%=coffee.name %></h3>
<h4><%=coffee.type %></h4>
<img src="<%=coffee.imgUrl %>" alt="<%=coffee.name %>">
<h5><%=coffee.description %></h5>
</div>