<div class="container">
    <div class="detail">
        <h1>
            <%= book.title %>
        </h1>
        <h2>By <%= book.author %>
        </h2>
        <img src="<%= book.img %>" alt="<%= book.title %>">
        <br>
        <%= book.description %>
            <h2><em>Pairs Well With: </em></h2>
            <div class="container">
                <div class="coffee-title">
                    <h4>
                        <%=coffee.name %>
                    </h4>
                    <br>
                </div>
                <h5>
                    <%=coffee.description %>
                </h5>
                <div class="img">
                    <img src="/assets/img/<%- coffee.imgUrl %> " alt="<%=coffee.name %>">
                </div>
                <p>
                    <a href="https://beardedmancoffee.com/coffee/" class="btn btn-primary my-2">Buy Now</a>
                </p>
            </div>
    </div>
</div>
</div>