
<div class="substance"></div>
    <h3 class="text-center">Welcome to your profile, <%= name %></h3>
        <h5 class="text-center">(<%= email %>)</h5>
</div>
<br>
<div class="booklist">
    <h1 class="text-center">Your Bookshelf</h1>
    <div class="row">
        <% the_books.forEach((book) => { %>
            <div class="col">
                <h3><%= book.dataValues.title %></h3>
                <h4><%= book.dataValues.author %> </h4>
                <div class="img">
                    <img src=<%= book.dataValues.img %> >
                </div>
            </div>
        <% }); %>
</div>
    <div id="list-output">
        <div class="row"></div>
    </div>
</div>
