<main class="centered">
    <h1><%= coffee.name %></h1>
    <hr>
    <div>
        <img src="/assets/img/<%=coffee.imgUrl%>" alt="<%= coffee.name %>">
    </div>
    <h2>$ <%= coffee.price %> </h2>
    <p><%= coffee.description %> </p>
</main>